$bg: white;
$fg: black;
$ae0: #ae0;

body {
    background: url("../images/bg.png") $bg;
    color: $fg;
    font-family: monospace;
    text-align: center;
    font-size: 24pt;
}

section {
    padding: 2em;
    &:nth-child(1n+1) {
        margin-top: 8000px;
    }
}
::-moz-selection {
    background: #444;
}
::-moz-selection, .ae0 {
    color: #ae0;
}

#poetry {
    background: white;
}
.poetry {
    color: $bg;
    a {
        color: $bg;
        &:hover {
            background: red;
            transform: rotate(180deg);
            position: relative;
            display: inline-block;
            transition: transform 0.3s;
        }
    }
}


.code {
    display: inline-block;
    text-align: left;
}


.buttons {
    background: #aaa;
}
